.page-content-item {
  padding:40px 40px;
}

.list{
  display: flex;
  height: 30vh;
  width: 70vw;
  padding: 20px;
  border: gray solid  2px;
  margin-bottom: 10px;
}

.page-image{
  height:25vh;
  width:25vw;
}

.page-text{
  margin-left: 50px;
}

.page-info{
  font-size: 70%
}